@import '../../variables.css';
@import '../../styles.css';


.sidebar-scrollbox ul li:nth-child(3) {
    color: var(--sidebar-active);
}

.subheader {
    margin-bottom: 1rem;
}

table {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    box-sizing: border-box;
    width: 100%;
}

tbody {
    /* display: table-row-group; */
    /* vertical-align: middle; */
}

tr {
    display: table-row;
    vertical-align: inherit;
}

td {
    -moz-text-overflow: ellipsis;        
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.header {
    background-color: var(--quote-bg);
    text-align: center;
}

.menu {
    background-color: var(--sidebar-bg);
}

.menu-item {
    float : left;
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 2rem;
}

.menu-item a {
    padding: 1rem;
    border-style: solid;
    border-color: var(--sidebar-bg);
    border-radius: 10px;
    color: var(--sidebar-fg);
}

.menu-item:hover a {
    border-style: solid;
    border-color: var(--theme-popup-border);
    border-radius: 10px;
    background-color: var(--theme-popup-bg);
    color: var(--sidebar-active);
}

.page {
    margin: 0;
}

.maincontent {
    margin: 2rem;
}

pre code {
    padding: 1rem;
}

:not(pre) > .hljs {
    display: inline;
    padding: 0.1em 0.3em;
    border-radius: 3px;
}

.footer {
    background-color: var(--sidebar-bg);
}

.footer h2 {
    margin: 2rem;
}

.footer p {
    margin: 2rem;
} 



